name: Update API specs
on:
  workflow_dispatch:
  schedule:
  - cron: '0 1 10-31 * THU,FRI'

jobs:
  update-api-specs:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Anbox Cloud
      uses: canonical/anbox-cloud-github-action@ac73782f4b581a69aa12650bda5eccc865cd038d
      with:
        channel: latest/stable
    - name: Determine appliance version
      id: snap_version
      run: |
        echo "value=$(snap info anbox-cloud-appliance | awk '/installed/{print $2}')" >> "$GITHUB_OUTPUT"
    - name: Extract API spec from AMS
      run: |
        sudo apt update
        sudo apt install -y jq yq
        # Don't allow us to succeed if the actual curl command fails
        set -o pipefail
        curl \
          --unix-socket /var/snap/anbox-cloud-appliance/common/ams-unix.socket \
          s/1.0/swagger.json | yq -y > ./reference/api-reference/ams-api.yaml
        sudo curl \
          --unix-socket /var/snap/anbox-cloud-appliance/common/gateway/internal.sock \
          s/1.0/swagger.json | yq -y > ./reference/api-reference/gateway-api.yaml
    - name: Create pull request
      uses: canonical/create-pull-request@f30a0c4565ed0df1dfc5379c57e9a478bded4159
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: "feat: update API specs from ${{ steps.snap_version.outputs.value }}"
        branch-name: update-api-specs-${{ steps.snap_version.outputs.value }}
        title: Update API specs from ${{ steps.snap_version.outputs.value }}
        body: |
          This updates the AMS API specification as taken from the `anbox-cloud-appliance` as of
          version ${{ steps.snap_version.outputs.value }}.

          You have to close and reopen the PR to trigger checks.
        repository: canonical/anbox-cloud-docs
        upsert: true
        ignore-no-changes: true
